.circleMenu{
  position:fixed;
  top:100px;
  left:100px;
  border-radius: 50%;
  background: skyblue;
  overflow: hidden;
  &:global{
    animation: 720ms rotateDis 1 ease-in-out;
  }
}

.item{
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:#fff;
  background: aquamarine;
}

@keyframes :global(rotateDis){
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}
