.circleMenu{
  position:fixed;
  top:100px;
  left:100px;
  border-radius: 50%;
  background: skyblue;
  overflow: hidden;
  &:global{
    animation: 720ms rotateDis 1 ease-in-out;
  }
}

.item{
  position: absolute;
}

@keyframes :global(rotateDis){
  0%{
    height:0;
    width:0;
    transform: rotate(0deg);
  }

  100%{
    height:300px;
    width:300px;
    transform: rotate(360deg);
  }
}
