.app{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    :global(.c-button){
        margin:12px 0;
        font-size: 32px;
    }
}
